doctype html
html(lang='en')

head
    title= title
    include partials/head.pug
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/cards.css')

body(class = 'general-body')
    div(class='banner')
        h1(class='banner-align-left') Hearts
        span
            a(href='/lobby', class='banner-align-right') Leave game


    div(class='game-container')

        div(class='game-box')

            div(class= "bottom-player-to-mid card Hearts Ace")
            div(class= "left-player-to-mid card Hearts Ace")
            div(class= "top-player-to-mid card Hearts Ace")
            div(class= "right-player-to-mid card Hearts Ace")

            button.btn.btn-primary(id='single-button', type='submit', disabled) Play
            button.btn.btn-primary(id='multiple-button', type='submit', disabled) Pass Cards

            div(class = "player-info")
                div(class = "player-score-box")
                    p(class="player-round-score") This Round's Score:
                    p(class="player-total-score") Total Score:
                p Player 1
            div(class= "bottom-player Clubs ace" onclick="selectMultipleCard(this.id)" id="1" style ="left: 170px; z-index:1;")
            div(class= "bottom-player Clubs two" onclick="selectMultipleCard(this.id)" id="2" style ="left: 190px;z-index:2;")
            div(class= "bottom-player Clubs three" onclick="selectMultipleCard(this.id)" id="3" style ="left: 210px; z-index:3;")
            div(class= "bottom-player Clubs four" onclick="selectMultipleCard(this.id)" id="4" style ="left: 230px; z-index:4;")
            div(class= "bottom-player Clubs five" onclick="selectMultipleCard(this.id)" id="5" style ="left: 250px; z-index:5;")
            div(class= "bottom-player Diamonds six" onclick="selectSingleCard(this.id)" id="6" style ="left: 270px; z-index:6;")
            div(class= "bottom-player Diamonds seven" onclick="selectSingleCard(this.id)" id="7" style ="left: 290px; z-index:7;")
            div(class= "bottom-player Diamonds eight" onclick="selectSingleCard(this.id)" id="8" style ="left: 310px; z-index:8;")
            div(class= "bottom-player Diamonds nine" onclick="selectSingleCard(this.id)" id="9" style ="left: 330px; z-index:9;")
            div(class= "bottom-player Diamonds ten" onclick="selectSingleCard(this.id)" id="10" style ="left: 350px; z-index:10;")
            div(class= "bottom-player Diamonds jack" onclick="selectSingleCard(this.id)" id="11" style ="left: 370px; z-index:11;")
            div(class= "bottom-player Diamonds queen" onclick="selectSingleCard(this.id)" id="12" style ="left: 390px; z-index:12;")
            div(class= "bottom-player Diamonds king" onclick="selectSingleCard(this.id)" id="13" style ="left: 410px; z-index:13;")

            div(class = "top-player-info")
                p Player 3
                div(class = "player-score-box")
                    p(class="player-round-score") This Round's Score:
                    p(class="player-total-score") Total Score:
            div(class= "top-player card-back" style ="left: 170px; z-index:1;")
            div(class= "top-player card-back" style ="left: 190px;z-index:2;")
            div(class= "top-player card-back" style ="left: 210px; z-index:3;")
            div(class= "top-player card-back" style ="left: 230px; z-index:4;")
            div(class= "top-player card-back" style ="left: 250px; z-index:5;")
            div(class= "top-player card-back" style ="left: 270px; z-index:6;")
            div(class= "top-player card-back" style ="left: 290px; z-index:7;")
            div(class= "top-player card-back" style ="left: 310px; z-index:8;")
            div(class= "top-player card-back" style ="left: 330px; z-index:9;")
            div(class= "top-player card-back" style ="left: 350px; z-index:10;")
            div(class= "top-player card-back" style ="left: 370px; z-index:11;")
            div(class= "top-player card-back" style ="left: 390px; z-index:12;")
            div(class= "top-player card-back" style ="left: 410px; z-index:13;")

            div(class = "left-player-info")
                div(class = "player-score-box")
                    p(class="player-round-score") This Round's Score:
                    p(class="player-total-score") Total Score:
                p Player 2
            div(class= "left-player card-back" style ="top: 150px; z-index:10;" id = "60")
            div(class= "left-player card-back" style ="top: 170px;z-index:20;")
            div(class= "left-player card-back" style ="top: 190px;z-index:20;")
            div(class= "left-player card-back" style ="top: 210px;z-index:30;")
            div(class= "left-player card-back" style ="top: 230px; z-index:40;")
            div(class= "left-player card-back" style ="top: 250px; z-index:50;")
            div(class= "left-player card-back" style ="top: 270px; z-index:60;")
            div(class= "left-player card-back" style ="top: 290px; z-index:70;")
            div(class= "left-player card-back" style ="top: 310px; z-index:80;")
            div(class= "left-player card-back" style ="top: 330px; z-index:90;")
            div(class= "left-player card-back" style ="top: 350px; z-index:100;")
            div(class= "left-player card-back" style ="top: 370px; z-index:110;")
            div(class= "left-player card-back" style ="top: 390px; z-index:120;")

            div(class = "right-player-info")
                div(class = "player-score-box")
                    p(class="player-round-score") This Round's Score:
                    p(class="player-total-score") Total Score:
                p Player 4
            div(class= "right-player card-back" style ="top: 150px; z-index:10;")
            div(class= "right-player card-back" style ="top: 170px;z-index:20;")
            div(class= "right-player card-back" style ="top: 190px;z-index:20;")
            div(class= "right-player card-back" style ="top: 210px;z-index:30;")
            div(class= "right-player card-back" style ="top: 230px; z-index:40;")
            div(class= "right-player card-back" style ="top: 250px; z-index:50;")
            div(class= "right-player card-back" style ="top: 270px; z-index:60;")
            div(class= "right-player card-back" style ="top: 290px; z-index:70;")
            div(class= "right-player card-back" style ="top: 310px; z-index:80;")
            div(class= "right-player card-back" style ="top: 330px; z-index:90;")
            div(class= "right-player card-back" style ="top: 350px; z-index:100;")
            div(class= "right-player card-back" style ="top: 370px; z-index:110;")
            div(class= "right-player card-back" style ="top: 390px; z-index:120;")

        div(class = 'chat-box')
            h1(class='no-vertical-padding') Game chat
            div
                div(id='chat-window')
                    div(id='game_output')
                    div(id='feedback')
                input(id='message', type='text', placeholder='Message', style='color: black')
                input(id='room_id', type='hidden' value='room')
                button.btn.btn-primary(id='send', style='width: 100%') Send

    script.
        const username = '#{user.username}'
        const user_id = '#{user.user_id}'
    script(src='/javascripts/chat.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/lobby.js')
    script(src='/javascripts/gameClient.js')