doctype html
html(lang='en')

head
    title= title
    include partials/head.pug
    link(rel='stylesheet', href='/stylesheets/chat.css')

body(class = 'general-body')
    div(class='banner')
        h1(class='banner-align-left') Hearts
        span
            a(href='/lobby', class='banner-align-right') Leave game


    div(class='game-container')

        div(class='game-box')
            p Background color is temporary

        div(class = 'chat-box')
            h1(class='no-vertical-padding') Game chat
            div
                div(id='chat-window')
                    div(id='output')
                    div(id='feedback')
                input(id='message', type='text', placeholder='Message', style='color: black')
                button.btn.btn-primary(id='send', style='width: 100%') Send
