doctype html
html(lang='en')

head
    title= title
    include partials/head.pug
    link(rel='stylesheet', href='/stylesheets/chat.css')

body
    h1= title

    div(class='lobby-container')
        div(class = 'lobby-box')
            h1(class='no-vertical-padding') Current games

            div(class = 'games-list-box')

            form(action='/lobby/createGame', method='POST')
                p(class='align-center') Create a new game
                    input.form-control(name='game_name', type='text', placeholder='Enter game name:')
                    label(class='padding-right') Number of players:
                    select(id='max-players', name='max_players')
                        option(value=2) 2
                        option(value=4, selected) 4
                    button.btn.btn-primary(id='create-game-btn', type='submit') Create Game

        div(class = 'chat-box')
            div(id='lobby-chat')
                div(id='chat-window')
                    div(id='output')
                    div(id='feedback')
                input(id='message', type='text', placeholder='Message', style='color: black')
                button.btn.btn-primary(id='send', style='width: 100%') Send

    script.
        const username = '#{user.username}'
        const user_id = '#{user.user_id}'
    script(src='/javascripts/chat.js')
    script(src='/javascripts/lobby.js')