
doctype html 
html(lang='en') 


include partials/head.pug
link(rel="stylesheet" href="stylesheets/style.css")



head

body
    h1(class = 'center-form', style = 'color:red') this is the registration page!