.top-player{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 50px;

    transition-duration: 300ms;
}

.left-player{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 50px;

    transition-duration: 300ms;
}

.right-player{
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 520px;

    transition-duration: 300ms;
}

.card-back{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
    background-position-x: 1px;
    background-position-y: -400px;
}

.card {
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
}

.bottom-player{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    top: 480px;
    position: absolute;
    transition-duration: 100ms;
}

.bottom-player:hover{
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);

}

.bottom-player-to-mid{
    left: 290px;
    top: 330px;
}

.top-player-to-mid{
    left: 290px;
    top: 200px;
}

.left-player-to-mid{
    left: 210px;
    top: 265px;
}

.right-player-to-mid{
    left: 370px;
    top: 265px;
}