.card-back{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
    background-position-x: 1px;
    background-position-y: -400px;
}

.top-player{
    transform: rotate(180deg);
    top: 50px;
}

.left-player{
    transform: rotate(90deg);
    left: 50px;
}

.right-player{
    transform: rotate(270deg);
    left: 520px;
}

.card {
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
}

.player-card{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    top: 480px;
    position: absolute;
}

.player-card:hover{
    transform: translateY(-5px);
    transition-duration: 100ms
}

.Clubs{
    background-position-y: 0px;
}

.Diamonds{
    background-position-y: -100px;
}

.Hearts{
    background-position-y: -200px;
}

.Spades{
    background-position-y: -300px;
}

.ace{
    background-position-x: 0px;
}

.two{
    background-position-x: -69px;
}

.three{
    background-position-x: -138px;
}

.four{
    background-position-x: -207px;
}

.five{
    background-position-x: -276px;
}

.six{
    background-position-x: -345px;
}

.seven{
    background-position-x: -414px;
}

.eight{
    background-position-x: -483px;
}

.nine{
    background-position-x: -552px;
}

.ten{
    background-position-x: -621px;
}

.jack{
    background-position-x: -690px;
}

.queen{
    background-position-x: -759px;
}

.king{
    background-position-x: -828px;
}