
/*General*/


.general-body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #086305;
    color: whitesmoke;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

.align-center{
    text-align: center;
}

.align-center-padded{
    text-align: center;
    padding: 5px;
}

.align-left{
    text-align: left;
    width: 40%;
}

.align-right{
    text-align: right;
    padding-right: 10px;
    width: 40%;
}

.vertical-padding{
    padding-top: 25px;
}

.padding-right{
    padding-right:10px;
}

.button-division{
    color:black;
    background-color:#00ccff
}

.no-vertical-padding{
    margin-top: 0;
}

.vertical-padding-50{
    padding-top: 50px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/*Top banner*/

.banner{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    width: 100%;
    height: 60px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.banner-align-left{
    display:inline;
}

.banner-align-right{
    margin-top: 15px;
    color: #e9eb89;
    float:right;
}

.banner-align-right:hover{
    color: whitesmoke;
}

/*Login/register specific*/

.login-body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #086305;
    color: whitesmoke;
}

.center-box {
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    background-color: #e9eb89;
    color: rgb(0, 0, 0);
}

/*Lobby*/

.lobby-container{
    min-width: 765px;
}

.chat-box{
    width: 30%;
    min-width:200px;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70vh;
    min-height: 485px;
    padding: 20px;
    display:inline-block;
    float:right;

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-color: #e9eb89;
    color: rgb(0, 0, 0);
}

.lobby-box{
    width: 55%;
    min-width: 415px;
    height: 70vh;
    margin: 5% 5%;
    min-height: 485px;
    display:inline-block;
    padding: 20px;
    overflow:auto;
    float:left;

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-color: #e9eb89;
    color: rgb(0, 0, 0);
}

.games-list-box{
    overflow:auto;
    height: 40vh;
    min-height: 275px;
    min-width: 375px;
    background-color: #b6d7d1;
}

.games-list-left{
    display:inline-block;
    min-width: 50px;
    padding: 5px;
}

.games-list-center{
    display:inline-block;
    text-align: center;
    padding: 5px;
}

.games-list-right{
    display:inline-block;
    min-width: 30px;
    padding: 5px;
}

.num-players{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    align: left;
}

.num-players-left{
    display: inline;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 15px;
    float: left
}

.num-players-right{
    display: inline;
    margin-top: 15px;
    align:right;
}

.create-button{
    display: inline;
    margin-top: 10px;
    float: right;
}

.create-game{
    margin-top: 10px;
    text-align: center;
}

/*Game specific*/

.game-container{
    min-width: 1150px;
    overflow: auto;
}

.game-box{
    min-width: 600px;
    width:30%;
    margin: 5% 5%;
    height: 500px;
    display:inline-block;
    padding: 20px;
    float:left;

    position: relative;

    background-color: #e9eb89;
    color: rgb(0, 0, 0);
}

.card-back{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
    background-position-x: 0px;
    background-position-y: -400px;
}

.top-player{
    transform: rotate(180deg);
    left: 100px;
}

.left-player{
    transform: rotate(90deg);
}

.right-player{
    transform: rotate(270deg);
}

.card {
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
}

.player-card{
    background-image: url("/images/cards.png");
    width: 69px;
    height: 100px;
    position: absolute;
}

.player-card:hover{
    transform: translateY(-5px);
    transition-duration: 100ms
}

.Clubs{
    background-position-y: 0px;
}

.Diamonds{
    background-position-y: -100px;
}

.Hearts{
    background-position-y: -200px;
}

.Spades{
    background-position-y: -300px;
}

.ace{
    background-position-x: 0px;
}

.two{
    background-position-x: -69px;
}

.three{
    background-position-x: -138px;
}

.four{
    background-position-x: -207px;
}

.five{
    background-position-x: -276px;
}

.six{
    background-position-x: -345px;
}

.seven{
    background-position-x: -414px;
}

.eight{
    background-position-x: -483px;
}

.nine{
    background-position-x: -552px;
}

.ten{
    background-position-x: -621px;
}

.jack{
    background-position-x: -690px;
}

.queen{
    background-position-x: -759px;
}

.king{
    background-position-x: -828px;
}